
@{
    ViewBag.Title = "aboutus";
}

<!DOCTYPE html>
<html>
<title>About US</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey">

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <div id="header" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8Q2p-_WL9b8pZuYdVIk0iZPKJmepsFsQO7w&usqp=CAU');>
                <!-- <img src="images/m3.png" style="float: right; margin-right: 100px;"/> -->
                <br>
                <!-- <h3 style="margin-left: 70px;margin-top: unset; ">Welcome to . . .</h3> -->
                <h1 style="scroll-margin-left: 100px;"><b><i>BEFIKRAA_MUSAFIR</i></b></h1>
            </div>
            <h1><b>About US</b></h1>
            <!-- <p>  <span class="w3-tag"></span></p> -->
        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <!-- <div class="w3-col l8 s12"> -->
            <!-- Blog entry -->
            <!-- <div class="w3-card-4 w3-margin w3-white"> -->
            <img src="~/Images/Journey.png" alt="Nature" style="width:100%" height="350">
            <div class="w3-container">
                <h3><b>About Musafir's Story</b></h3>
                <h5>Started the journey on <span class="w3-opacity">Feb, 2019</span></h5>
                <h6>
                    <i>
                        <center>
                            <hr>Sitting by the corner of the room, a little on my own,<br>

                            I dream of hills and beaches, and some places unknown.<br>

                            Should I pack my bags, and take that detour?<br>

                            Or should I ask my friends, of whom I’m not sure? <br>

                            Will I lose myself, if I head out all alone? <br>

                            Or will I make the best memories with those faces not known?</hr>
                        </center>
                    </i><br>
                    We are sure that these thoughts often strike you. Befikraa_Musafir always encourages you to take that leap of faith.
                    It is the same thought that led us to create <b>Befikraa_Musafir</b>.<br><br>
                    Our generation is filled with explorers.
                    And in most of us, there resides an undying passion for traveling and exploring that doesn’t seem to recede.
                    ‘Musafir’ is that explorer within you- an explorer who yearns for fun and solitude in faraway places.
                    And apart from yearning for distant locations, if there is one thing that keeps us human,
                    it is our never-ending yearning for a sense of belonging. Hence, <b>‘Befikra_Musafir’</b>.<br>
                    Musafirs travel miles after miles, each of them treats the other as an extended family.
                    Hence, we look at each individual as someone who sticks to one another.<br><br>
                    Today, we are not only proud of delivering the best trips, but also for fostering the most beautiful friendships.
                    We promise that every memory made with us is way beyond just photographs. And every friendship made with us lasts a lifetime.
                </h6>
            </div>

            <div class="w3-container">
                <p>
                </p>
                
            </div>
        </div>
        <hr>





    </div>
    <!-- END BLOG ENTRIES -->
    </div>

    <!-- Introduction menu -->
    <div class="w3-col l4">
        <!-- About Card -->
        <!-- Posts -->
        <!-- END Introduction Menu -->
    </div>

    <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer>

        <div id="footer">
            <br>
            <center>For more details about "BEFIKRAA_MUSAFIR" - contact: +91-9769909609 OR mail us at befikraamusafir@gmail.com</center>
            <br>.
        </div>
    </footer>

</body>
</html>
