
@{
    ViewBag.Title = "Planned";
}

<head>
    <title>Farmple-E Market Yard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @*    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    *@
</head>
<!--<header id="header" class="top-head" style="background-color: rgb(180, 253, 166); color: rgb(62, 114, 97);">-->
<!-- Static navbar -->
<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-12 left-rs">
                <div class="navbar-header">
                    <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="navbar-brand"><img src="https://www.jaivikkheti.in/_nuxt/img/5056f7e.png" alt="" /></a>
                </div>
                <form class="navbar-form navbar-left web-sh">
                    <div class="form">
                        <h3 style="color: rgb(62, 114, 97);"> Trip Planner</h3>
                    </div>
                </form>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="right-nav">
                    <div class="login-sr">
                        <div class="login-signup" style="color: rgb(62, 114, 97);">
                            <ul>
                                <li><a href="#">Cart</a></li>
                                <li><a class="custom-b" href="/Accounts/logout">Log Out</a></li>
                            </ul>
                        </div>
                    </div>-->
<!-- <div class="help-r hidden-xs">
   <div class="help-box">
      <ul>
         <li> <a data-toggle="modal" data-target="#myModal" href="#"> <span>Change</span> <img src="images/flag.png" alt="" /> </a> </li>
         <li> <a href="#"><img class="h-i" src="images/help-icon.png" alt="" /> Help </a> </li>
      </ul>
   </div>
</div> -->
<!--<div class="nav-b hidden-xs" style="color:rgb(62, 114, 97);">
                    <div class="nav-box">
                        <ul>
                            <li><a href="howitworks.html">How it works</a></li>
                            <li><a href="about-us.html">Chamb for Business</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--/.container-fluid -->
<!--</nav>
</header>-->
<h5>DisplayAllCropsForCustomers</h5>


                    { @*            <li><a href="/products/details/@product.ID"> @product.Title</a> | <a href="/products/update/@product.ID"> update</a>|<a hre
    <a href="/Views/crops/displayAllCropsforcustomer.cshtml">/Views/crops/displayAllCropsforcustomer.cshtml</a>f="/products/delete/@product.ID">delete</a> </li>
                    *@
                    <br />
                    <br/>
                    <br />    
                    <body style="background-color:mediumaquamarine">
                        <div class="col-lg-3 col-sm-3 col-md-1" style="margin-top:20px; margin-bottom:20px">
                            <a href="https://www.thrillophilia.com/places-to-visit-pune">

                                <div class="box-img">

                                    <img src="https://www.smartcitiesworld.net/AcuCustom/Sitename/DAM/006/news-connectivity-jan16-pune_LT.jpg"
                                         alt="" />
                                    <div style="color:cornsilk">

                                        Pune
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-1" style="margin-top:20px; margin-bottom:20px">
                            <a href="https://www.thrillophilia.com/places-to-visit-in-mumbai">

                                <div class="box-img">

                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Chhatrapati_Shivaji_Maharaj_Terminal.jpg/1920px-Chhatrapati_Shivaji_Maharaj_Terminal.jpg"
                                         alt="" />
                                    <div style="color:cornsilk">Mumbai</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-1" style="margin-top:20px; margin-bottom:20px">
                            <a href="https://www.thrillophilia.com/destinations/gujarat/places-to-visit">

                                <div class="box-img">

                                    <img src="https://www.indiafilings.com/learn/wp-content/uploads/2018/11/Khatian.jpg"
                                         alt="" />
                                    <div style="color:cornsilk">Gujrat</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-3 col-md-1" style="margin-top:20px; margin-bottom:20px">
                            <a href="https://www.thrillophilia.com/10-best-places-to-visit-in-goa">

                                <div class="box-img">

                                    <img src="https://i1.wp.com/onedayitinerary.com/wp-content/uploads/2019/01/One-day-in-Goa-Itinerary.jpg?resize=768%2C576&ssl=1"
                                         alt="" />
                                    <div style="color:cornsilk">Goa</div>
                                </div>
                            </a>
                        </div>
                    </body>