
@{
    ViewBag.Title = "Unplanned";
}
<body style="background-color:lavenderblush">
<div style="align-content:center;margin-left:35%">
    <br /><br />
    <form action="/route/index" method="post">
        <div class="form-group" style="zoom:2">

                <label for="source">Choose a source:</label>
                <select id="source" name="source">
                    <option value="pune">pune</option>
                    <option value="mumbai">mumbai</option>
                    <option value="goa">goa</option>
                    <option value="gujrat">gujrat</option>
                </select>

        </div>
        <div class="form-group" style="zoom:2">
            <label for="destination">Choose a destination:</label>
            <select id="destination" name="destination">
                    <option value="pune">pune</option>
                    <option value="mumbai">mumbai</option>
                    <option value="goa">goa</option>
                    <option value="gujrat">gujrat</option>
                </select>

        </div>
        <button style="background-color:aquamarine;zoom:2" type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
   </body>

