
@{
    ViewBag.Title = "Welcome";
}

<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link rel="shortcut icon" href="images/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <script type="text/javascript" src="script.js"></script>

    <style>


        body {
            font-family: "Nunito", sans-serif;
        }

        #nav a {
            font-weight: 700;
        }
    </style>
</head>
<body >

    <div id="header" style="background-color: rgb(110, 238, 117);">
        <!-- <img src="Images/P1.png" style="float: right; margin-right: 100px;"/> -->
        <br>
        <h3 style="margin-left: 110px;margin-top: unset; ">Welcome to . . .</h3>
        <h1 style="margin-left: 150px;">BEFIKRAA_MUSAFIR</h1>
    </div>

    <br>

    <div id="navibar">

        <ul id="nav">
            <li><a href="/user/planned">Planned</a></li>
            <li><a href="/user/unplanned">Unplanned</a></li>
            <li><a href="/user/aboutus">About</a></li>
            <li><a href="/user/contactus">Contact</a></li>

        </ul>

    </div>

    <br><br>


    <div id="content">

        <div id="cl" style="color: rgb(101, 225, 230); font-size:16px;">

            <marquee behavior="scroll" direction="up" scrollamount="4" style="height: 350px;">
                <ul>
                    <li>Planned</li>
                    <br>
                    <li>Unplanned</li>
                    <br>
                    <li>Bike or Car</li>
                    <br>
                    <li>We're here to help you..</li>
                    <!-- <li></li><br>
                    <li>Here goes Fifth</li><br> -->
                </ul>
            </marquee>

        </div>
        <div id="cm">
            <img id="ri" src="/Images/P1.jpg" />

        </div>
        <div id="cr">
            <!-- <p style="padding: 15px; color: white; margin: auto;">
                Username:<br>
                <input type="text" id="uname"/>
                <br><br>
                Password:<br>
                <input type="password" id="pass"/>
                <br><br>
                <a href="#">Login</a>
            </p> -->
            <br><br>
            <!-- <hr>
            <p style="padding: 15px; color: white; margin: auto;">
                New Member?
                <br><br>
                <a href="registerU_F.html">Register</a>
            </p> -->


        </div>


    </div>
    <br>

    <div id="footer">
        <br >
        <p style="color:azure">
            For more details about "www.befikraamusafir.com" - contact: +91-9769909609</pstyle>
            <br>.
</div>

</body>
</html>

