
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>Login And Registration Form </title>
    <style>

        * {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        .hero {
            height: 150%;
            width: 100%;
            background-image: url('p.JPG');
            background-position: center;
            background-size: cover;
            position: absolute;
        }

        .form-box {
            width: 380px;
            height: 600px;
            position: relative;
            margin: 6% auto;
            background: white;
            padding: 5px;
            overflow: hidden;
            background-image: url(images/plant.jpg);
        }

        .button-box {
            width: 220px;
            margin: 35px auto;
            position: relative;
            box-shadow: 0 0 20px 9px #ff61241f;
            border-radius: 30px;
        }

        .toggle-btn {
            padding: 10px 30px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;
        }

        #btn {
            top: 0;
            left: 0;
            position: absolute;
            width: 110px;
            height: 100%;
            background: linear-gradient(to right, #cac706, #44f36a);
            border-radius: 30px;
            transition: .5s;
        }


        .input-group {
            top: 180px;
            position: absolute;
            width: 280px;
            transition: .5s
        }

        .input-field {
            width: 100%;
            padding: 10px 0;
            margin: 5px 0;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #999;
            outline: none;
            background: transparent;
        }


        .submit-btn {
            width: 85%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            margin: auto;
            background: linear-gradient(to right,#cac706, #44f36a);
            border: 0;
            outline: none;
            border-radius: 30px;
        }

        .check-box {
            margin: 30px 10px 30px 0;
        }


        span {
            color: #777;
            font-size: 12px;
            bottom: 68px;
            position: absolute;
        }



        #login {
            left: 50px;
        }

        #register {
            left: 450px;
        }

        .h1 {
            display: flex;
            justify-content: center;
        }
    </style>

</head>
<body background="images/back.jpg" style="width: 1024px;">
    <div id="header" style="background-color: rgb(56, 238, 214);width:1350px; height:125px">
        <!-- <img src="images/m3.png" style="float: right; margin-right: 100px;"/> -->

        <br>
        <h3 style="margin-left: 70px;">Welcome to . . .</h3>
        <a href="index.html"></a>
        <h1 style="margin-left: 150px;">BEFIKRAA_MUSAFIR</h1>

    </div>

    <!-- <div class="h1" style="background-color: rgb(110, 238, 117) ">
     <img src="images/m3.png" style="float: right; margin-right: 100px;"/>
     <a href="index.html"><img src="images/home.png" style="float: right;margin-top: 50px; "/></a>
     <br>
     <h3 style="margin-left: 70px;">Welcome to . . .</h3>
     <h1 style="margin-left: 150px;">Trip Planner</h1>

     </div>  -->
    <br>
    <br>
    <img>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>

            <form id="login" method="post" class="input-group">
                <input type="text" class="input-field" id="email" name="email" placeholder="Enter Email" required>
                <input type="password" class="input-field" id="pass" name="pass" placeholder="Enter Password" required>
                <br><br>
                <button type="submit" class="submit-btn">Login</button>
            </form>

            <form id="register" action="/admin/register_admin" method="post" class="input-group">
                <input type="text" class="input-field" id="name" name="name" placeholder="Full Name" required>
                <input type="email" class="input-field" id="email" name="email" placeholder="email" required>
                <input type="password" class="input-field" id="pass" name="pass" placeholder="Choose Strong password" required>
                <input type="text" class="input-field" id="contactno" name="contactno" placeholder="Contact Number" required>
                <input type="text" class="input-field" id="address" name="address" placeholder="Address" required>
                <input type="text" class="input-field" id="pincode" name="pincode" placeholder="Pin Code" required>
                <button type="submit" class="submit-btn">Register</button>


            </form>



        </div>
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");
        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0";
        }
        </script>
       

</body >
</html >




